.container {
  max-width: 500px;
  margin: auto;
  transform: translateX(35px);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
  }
  
  label {
    margin: 10px 0 5px;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #888888;
  }
  body {
    background-image: url('../../../public/assets/images/background/high_quality_image.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  